<%# ========================================================================= %>
<%# END OF CONTAINER %>
<%# ========================================================================= %>
      </div>
<%# ========================================================================= %>
<%# EMOJIS %>
<%# ========================================================================= %>
<script type="text/javascript">
  $(document).ready(function() {
    $("#example1").emojioneArea({
      pickerPosition: "right",
      autoHideFilters: true
    });
  });
</script>
<%# ========================================================================= %>
<%# JQUERY FILE %>
<%# ========================================================================= %>
<script type="text/javascript" src="/js/jscode.js"></script>
<%# ========================================================================= %>
<%# BOOTSTRAP CDN %>
<%# ========================================================================= %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
