<!DOCTYPE html>
<html>
<head>
<%# ========================================================================= %>
<%# MAKE SITE RESPONSIVE ON MOBILE %>
<%# ========================================================================= %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#vcera-dnes</title>
<%# ========================================================================= %>
<%# STYLES %>
<%# ========================================================================= %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
<%# ========================================================================= %>
<%# JQUERY CDN %>
<%# ========================================================================= %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    
<%# ========================================================================= %>
<%# EMOJI FILES %>
<%# ========================================================================= %>
    <link rel="stylesheet" href="/emojionearea/dist/emojionearea.min.css">
    <script type="text/javascript" src="/emojionearea/dist/emojionearea.min.js"></script>
</head>
<body>
<%# ========================================================================= %>
<%# NAVBAR %>
<%# ========================================================================= %>
<nav class="navbar navbar-default transparent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/" style="font-size: 1.5em"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= typeof page !== 'undefined' && page === 'trips' ? 'active' : '' %>"><a href="/trips">#vcera-dnes</a></li>
            <li class="<%= typeof page !== 'undefined' && page === 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
            <% if(currentUser) { %>

                <li class="<%= typeof page !== 'undefined' && page === 'new' ? 'active' : '' %>"><a href="/trips/new"><i class="fa fa-plus" aria-hidden="true"></i> new <i class="fa fa-hand-peace-o" aria-hidden="true"></i></a></li>

            <% } %>

            <% if(currentUser && currentUser.admin)  { %>
                <li class="<%= typeof page !== 'undefined' && page === 'admin' ? 'active' : '' %>"><a href="/admin">Admin</a></li>
            <% } %>

          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if(!currentUser){ %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login <i class="fa fa-user" aria-hidden="true"></i></a></li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
              <% } else { %>
                  <li class="<%= typeof page !== 'undefined' && page === 'userProfile' ? 'active' : '' %>"><a href="/users/<%= currentUser._id %>">Signed In As
                  <% if(currentUser && currentUser.admin) { %>
                    <b>Lord <span class="admin-text"><%= currentUser.username %></span></b> <i class="fa fa-beer" aria-hidden="true"></i>
                  <% } else { %>
                    <%= currentUser.username %> <i class="fa fa-user-o" aria-hidden="true"></i>
                  <% } %>
                  </a></li>
                  <li><a href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
              <% } %>
          </ul>
        </div>
    </div>
</nav>
<%# ========================================================================= %>
<%# FLASH MESSAGES %>
<%# ========================================================================= %>
<div class="container">
   <% if(error && error.length > 0) { %>
     <div class="alert alert-danger"><p><%=error %></p></div>
   <% } %>

   <% if(success && success.length > 0) { %>
     <div class="alert alert-success"><p><%= success %></p></div>
   <% } %>
</div>
<%# ========================================================================= %>
<%# STARTING CONTAINER %>
<%# ========================================================================= %>
<div class="container">
