<% include ../partials/header %>

  <div class="row">
    <h1 class="welcome-text" style="text-align: center;font-size: 3em">Add new Comment to <%= trip.name %></h1>
      <div class="well-form">
        <form action="/trips/<%= trip._id %>/comments" method="POST">

          <label class="control-label" for="comment[text]">Comment</label>
          <textarea id="example1" name="comment[text]" required></textarea>

          <br>

          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
          </div>

        </form>
        <a href="/trips" style="font-size:2em"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
      </div>
  </div>

<% include ../partials/footer %>
