<% include partials/header %>

<div class='row'>
  <%# ALL USERS %>
  <div class='col-md-4 well-form round-corner' style='margin: 5px'>
      <h3 style='text-align: center'>All users: </h3>
      <% users.forEach(function(user) { %>
        <div class='thumbnail round-corner' style='min-height: 150px; width: 100%'>
          <a href='/users/<%= user._id %>' style='color: black; text-decoration: none;text-align: center'>
            <h4 style='font-weight: bold'><%= user.username %></h4>
          </a>

          <div class='img-cir' style='display: inline-block;float: left; background-image: url(https://radik-trip-users.s3.eu-central-1.amazonaws.com/<%= user.avatar %>)'>
          </div>

          <div style='display: inline-block; float: right'>
            <form action='/users/<%= user._id %>?_method=PUT' method='POST' id='editUser'>
              <% if(user.admin) { %>
                <button id='sendCheckbox' class='btn btn-success btn-sm' onclick='return confirm("Are you sure?")'><label><input type='checkbox' name='user[admin]' value='false' onclick='submit()'><i class="fa fa-check" aria-hidden="true"></i> Admin</label></button>
              <% } else { %>
                <button id='sendCheckbox' class='btn btn-danger btn-sm' onclick='return confirm("Are you sure?")'><label><input type='checkbox' name='user[admin]' value='true' onclick='submit()'><i class="fa fa-times" aria-hidden="true"></i> Admin</label></button>
              <% }%>
            </form>

            <form class="delete-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger" onclick='return confirm("Are You sure?")'><i class="fa fa-times" aria-hidden="true"></i> Remove <%= user.username %></button>
            </form>
          </div>
        </div>
      <% }) %>
  </div>

  <%# ALL TRIPS %>
  <div class='col-md-4 well-form round-corner' style='margin: 5px'>
    <h3 style='text-align: center'>All trips: </h3>
    <% trips.forEach(function(trip)  { %>
      <div class='thumbnail round-corner' style='min-height: 150px; width: 100%'>
        <a href='/trips/<%= trip._id %>' style='color: black; text-decoration: none;text-align: center'>
          <h4 style='font-weight: bold'><%= trip.name %></h4>
        </a>

        <div class='img-cir' style='display: inline-block;float: left; background-image: url(https://radik-trip-pictures.s3.eu-central-1.amazonaws.com/<%= trip.images[0] %>)'>
        </div>

        <div class='btn-group-vertical' style='display: inline-block; float: right'>
          <button class="btn btn-warning"><a href="/trips/<%= trip._id %>/edit" style='text-decoration: none; color: white'><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Trip</a></button>
          <form class="delete-form" action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger" onclick='return confirm("Are You sure?")'><i class="fa fa-times" aria-hidden="true"></i> Remove Trip</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>

  <div class='col-md-4'>
    <button class='btn btn-warning'><a href='/editLandingBackground'>Edit Landing background</a></button>
  </div>

</div>

<% include partials/footer %>
