<% include partials/header %>

<h1 class="welcome-text" style="text-align: center">Edit landing</h1>
<div class="well-form round-corner">
  <form action="/editLanding?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="landing">Photo</label>
      <input class="form-control" type="file" name="landing">
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Login</button>
    </div>
  </form>
</div>

<% include partials/footer %>
