<% include partials/header %>

<div class="row">
  <div class="col-md-12 well-form round-corner">
    <form action="/forgot" method="POST">
      <legend class="welcome-text" style="font-size: 2em">Forgot Password</legend>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" autofocus class="form-control" value="" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" value="">Reset password</button>
      </div>
    </form>
  </div>
</div>

<% include partials/footer %>
