<% include partials/header %>

<h1 class="welcome-text" style="text-align: center">Login</h1>
<div class="well-form round-corner">
    <form action="/login" method="post">
      <div class="form-group has-feedback has-feedback-right">
        <label class="control-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" placeholder="username" value="" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="pwd" class="form-control" type="password" name="password" placeholder="password" required>
            <button type="button" id="show">
            </button>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Login</button>
        </div>
    </form>
    <a href="/trips" style="font-size: 2em"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a><a class="pull-right" href="/forgot">Forgot Password?</a>
</div>

<% include partials/footer %>
