<% include partials/header %>

<h1 class="welcome-text" style="text-align: center">Sign Up</h1>
<div class="well-form round-corner">
    <form action="/register" method="post" enctype="multipart/form-data">

        <div class="form-group has-feedback has-feedback-right">
          <label class="control-label" for="username">Username</label>
          <input class="form-control" type="text" name="username" placeholder="Username" value="" required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="pwd" class="form-control" type="password" name="password" placeholder="Password" required>
          <button type="button" id="show">
          </button>
        </div>

        <div class="form-group has-feedback has-feedback-right">
          <label class="control-label" for="firstName">First Name</label>
          <input class="form-control clearable" type="text" name="firstName" placeholder="First Name" value="" required>
        </div>

        <div class="form-group has-feedback has-feedback-right">
          <label class="control-label" for="lastName">Last Name</label>
          <input class="form-control clearable" type="text" name="lastName" placeholder="Last Name" value="" required>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" placeholder="your@email.com" required>
        </div>

        <div class="form-group">
          <label for="image">Your Pic!</label>
          <input class="form-control" type="file" name="image" id="image" required>
        </div>

        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
        </div>
    </form>
    <a href="/trips" style="font-size:2em"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
</div>

<% include partials/footer %>
