<% include partials/header %>

<div class="row">
	<div class="col-md-12 well-form round-corner">
		<form action="/reset/<%= token %>" method="POST">
		  <legend class="welcome-text" style="font-size: 2em">Reset Password</legend>

		  <div class="form-group">
		    <label for="password">New Password</label>
		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
		  </div>

		  <div class="form-group">
		    <label for="confirm">Confirm Password</label>
		    <input id="pwd" type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
				<button type="button" id="show">
				</button>
		  </div>

		  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Update Password</button>
		  </div>
		</form>
	</div>
</div>

<% include partials/footer %>
