body {
  height: 100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 45vh;
}
#landing-header h1 {
  color: #fff;
}
.welcome-text   {
    font-family: 'Indie Flower', cursive;
    color: rgba(0, 0, 0, 0.15);
    font-weight: 800;
    text-shadow: 1px 1px 2px #f8f8f8;
}
.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}
.slideshow li:nth-child(1) {
  background-image: url("https://s3.eu-central-1.amazonaws.com/radik-trip-pictures/dont_remove/1_n.jpg");
}
.slideshow li:nth-child(2) {
  background-image: url("https://s3.eu-central-1.amazonaws.com/radik-trip-pictures/dont_remove/2_n.JPG");
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(../pictures/3.JPG);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(../pictures/4.JPG);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(../pictures/5.JPG);
  animation-delay: 40s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
/* ========================================================================== */
/* OLDER BROWSER SUPPORT */
/* ========================================================================== */
.no-cssanimations .slideshow li {
	opacity: 1;
}
