html {
  height: 100%;
}
body {
  background-image: url("https://s3.eu-central-1.amazonaws.com/radik-trip-pictures/dont_remove/5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height:100%;
  position:relative;
  padding-bottom:[footer-height];
}
/* ========================================================================== */
/* NAVBAR */
/* ========================================================================== */
#nav  {
  margin-bottom: 2.5%;
}
.navbar  {
  background-color: rgba(255, 255, 255, 0.75);
  border: 0;
  position: relative;
}
.admin-text  {
  font-family: 'Indie Flower', cursive;
  font-weight: 800;
  font-size: 1.5em;
  vertical-align: middle;
}
/* ========================================================================== */
/* STYLES FOR ALL PAGES */
/* ========================================================================== */
.well  {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0;
}
.well-form  {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 100px;
  margin-top: 100px;
  width: 30%;
  margin: 26px auto;
}
.round-corner  {
  border-radius: 10px;
}
.img-cir  {
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.user-text  {
  font-family: 'Indie Flower', cursive;
  font-weight: 800;
  font-size: 3em;
}
.delete-form  {
  display: inline;
}
.welcome-text   {
  color: rgba(0, 0, 0, 0.15);
  font-family: 'Indie Flower', cursive;
  font-weight: 800;
  text-shadow: 1px 1px 2px #f8f8f8;
  font-size: 3.5em;
}
.inline  {
  display: inline-block;
}
.break-word {
  overflow-wrap: break-word;
}
[src=''] {
  visibility: hidden;
}
.dropdownButton  {
  margin: 2%;
  width: 96%;
}
/* ========================================================================== */
/* TRIP INDEX PAGE */
/* ========================================================================== */
.thumbnail  {
  background-color: rgba(0, 0, 0, 0.25);
}

.thumbnail img  {
  max-height: 190px;
}
/* ========================================================================== */
/* TRIP SHOW PAGE */
/* ========================================================================== */
#map {
  height: 200px;
  width: 100%;
}
.grid  {
  margin: 0;
  column-gap: 2em;
  overflow: visible;
}
.pic  {
  display: inline-block;
  margin: 0 0 2em;
  width: 100%;
  overflow: visible;
}
/* ========================================================================== */
/* USER PAGE */
/* ========================================================================== */
.user-thumbnail  {
  background-color: rgba(0, 0, 0, 0.25);
}
.user-thumbnail img  {
  width: 100%;
}
.user-thumbnail-grid  {
  margin: 0 10px 20px 10px;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  float: left;
}
.user-thumbnail-grid img  {
  max-height: 55px;
}
/* ========================================================================== */
/* ZOOM PICTURE IN SHOW */
/* ========================================================================== */
.img-background  {
  z-index: 99;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.75)
}
.img-center  {
  width: 90%;
  margin: auto;
  padding-top: 4%;
}
.img-zoom  {
  max-width: 100%;
  height: auto;
  border-radius: 26px;
}
label {
  display: block;
}
/* ========================================================================== */
/* UPLOAD BUTTON */
/* ========================================================================== */
.form-control::-webkit-file-upload-button {
  position: absolute;
  color: white;
  width: 40%;
  display: inline-block;
  background: #1CB6E0;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 10pt;
  border-radius: 13px;
  height: 30px;
  margin-top: -9.35px;
  margin-left: -8.5px;
}
/* ========================================================================== */
/* FORMS STYLE + CLEAR BTN */
/* ========================================================================== */
textarea {
  width: 100%;
  height: auto;
  overflow: hidden;
  resize: none;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ .fa-trash{
  color: red;
}
.form-group  {
  display: inline-block;
  overflow: scroll hidden;
  white-space: nowrap;
  width: 100%;
}
.form-group input, .form-group span {
  display: inline-block;
}
.checkbox label  {
  display: inline-block;
}
.form-control  {
  border-radius: 15px;
}
.form-control:focus  {
  box-shadow: 0 0 5px 1px #b0e0ee;
	border: 2px solid #b0e0ee;
}
.form-control,.close-icon {
	position: relative;
	padding: 10px;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
#show  {
  border: none;
  outline:none;
  background: transparent;
}
input[type="password"] ~ #show::before  {
  content: "\f06e";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  right: 35px;
  background: transparent;
  border: none;
  outline:none;
}
input[type="text"] ~ #show::before  {
  content: "\f070";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  right: 35px;
  background: transparent;
  border: none;
  outline:none;
}
/* ========================================================================== */
/* ABOUT */
/* ========================================================================== */
.send  {
  position: relative;
  font-size: 0.5em;
  vertical-align: middle;
}
#mail:hover > .send{
  position: relative;
  animation-name: sendmail;
  animation-duration: 0.5s;
}
@keyframes sendmail {
  0%   {left: 0px}
  100% {
    left: 210px;
    color:red;
    font-size: 2em;
  }
}
/* ========================================================================== */
/* OTHER DEVICES */
/* ========================================================================== */
@media only screen and (min-width: 320px) and (max-width : 568px)
and (orientation : portrait) {
  .grid {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
  .well-form  {
    width: 95%;
  }
}
@media only screen and (min-width: 400px) {
  .grid {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
  .well-form  {
    width: 90%;
  }
}
@media only screen and (min-width: 700px) {
  .grid {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
  .well-form  {
    width: 75%;
  }
}
@media only screen and (min-width: 900px) {
  .grid {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
  .well-form  {
    width: 60%;
  }
}
@media only screen and (min-width: 1100px) {
  .grid {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
  .well-form  {
    width: 30%;
  }
}
