<% include ../partials/header %>

<h1 class="welcome-text" style="text-align: center">Edit user <%= user.username %></h1>
<div class="well-form round-corner">
    <form action="/users/<%= user._id %>?_method=PUT" method="post">

        <div class="form-group has-feedback has-feedback-right">
          <label class="control-label" for="user[firstName]">First Name</label>
          <input class="form-control clearable" type="text" name="user[firstName]" placeholder="First Name" value="<%= user.firstName %>" required>
        </div>

        <div class="form-group has-feedback has-feedback-right">
          <label class="control-label" for="user[lastName]">Last Name</label>
          <input class="form-control clearable" type="text" name="user[lastName]" placeholder="Last Name" value="<%= user.lastName %>" required>
        </div>

        <div class="form-group">
          <label for="user[email]">Email</label>
          <input class="form-control" type="email" name="user[email]" placeholder="your@email.com" value='<%= user.email %>' required>
        </div>

        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Edit!</button>
        </div>
    </form>
    <a href="/users/<%= user._id %>" style="font-size:2em"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
</div>

<% include ../partials/footer %>
