<% include ../partials/header %>

<h1 class="welcome-text" style="text-align: center">Edit avatar</h1>
<div class="well-form round-corner">
    <form action="/users/<%= user._id %>/newAvatar?_method=PUT"  method="POST" enctype="multipart/form-data">

      <input type='hidden' name='username' value='<%= user.username %>'>
      <div class="form-group">
        <label for="image">Your new avatar!</label>
        <input class="form-control" type="file" name="image" id="image" required>
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Change Your avatar!</button>
      </div>

    </form>
    <a href="/users/<%= user._id %>" style="font-size:2em"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
</div>

<% include ../partials/footer %>
