<% include ../partials/header %>

<h1 class="welcome-text" style="text-align: center">Edit password</h1>
<div class="well-form round-corner">
    <form action="/users/<%= user._id %>/newPassword?_method=PUT" method="post">

      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>

      </div>

      <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input id="pwd" type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
        <button type="button" id="show">
        </button>
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Create new password!</button>
      </div>

    </form>
    <a href="/users/<%= user._id %>" style="font-size:2em"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
</div>

<% include ../partials/footer %>
