<% include ../partials/header %>

<div class="row">
  <div class="col-md-4">
<%# ========================================================================= %>
<%# USER %>
<%# ========================================================================= %>
    <div class="well round-corner">
      <span class="user-text"><%= user.firstName %> <%= user.lastName%></span><span style="float: right"><a href="mailto:<%= user.email %>"><i style="color: gray; font-size: 2em" class="fa fa-envelope" aria-hidden="true"></i></a></span>
      <div class="user-thumbnail round-corner">
        <img class="round-corner zoom"src="https://radik-trip-users.s3.eu-central-1.amazonaws.com/<%= user.avatar %>" alt="Profile picture">
      </div>
      <span style='font-weight: bold;float: right'><% if(user.admin) { %> <%= user.username %> is ADMIN <% } %></span>
      <% if(currentUser && user._id.equals(currentUser._id)) { %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </button>
            <div class="dropdown-menu">
              <a class="btn btn-warning btn-sm dropdownButton" href="/users/<%= user._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit my account</a>
              <a class="btn btn-warning btn-sm dropdownButton" href="/users/<%= user._id %>/editPassword"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Create new password</a>
              <a class="btn btn-warning btn-sm dropdownButton" href="/users/<%= user._id %>/editAvatar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Change avatar</a>
              <form class="delete-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm dropdownButton" onclick='return confirm("Are You sure?")'><i class="fa fa-times" aria-hidden="true"></i> Remove my account</button>
              </form>
            </div>
          </div>

      <% } %>

    </div>
<%# ========================================================================= %>
<%# LIST OF USER'S TRIPS %>
<%# ========================================================================= %>
    <div class="text-center" style="display:flex; flex-wrap:wrap;">
          <% trips.forEach(function(trip){ %>
            <div class="user-thumbnail-grid round-corner">
              <a href="/trips/<%= trip._id %>">
                <img class="round-corner" src="https://radik-trip-pictures.s3.eu-central-1.amazonaws.com/<%= trip.images[0]%>">
              </a>
              <div class="caption">
                  <strong><span style="font-weight: 600; color:gray;font-size: 1em"><%= trip.name %></span></strong>
              </div>
            </div>
      <% }); %>
    </div>
<%# ========================================================================= %>
<%# MODAL FOR FULL SIZE IMAGES ON CLICK %>
<%# ========================================================================= %>
    <div id="modal01" class="img-background" style="padding-top:0" onclick="this.style.display='none'">
      <div class="img-center">
        <img id="img01" class="img-zoom">
        <p id="caption"></p>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
