<% include ../partials/header %>

  <div class="row">
    <h1 class="welcome-text" style="text-align: center;">Edit <%= trip.name %></h1>
    <h4 style="text-align: center; color: gray"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= trip.location %></h4>
      <div class="well-form round-corner">
        <form action="/trips/<%= trip._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control clearable" type="text" name="name" value="<%= trip.name %>" placeholder="Name" maxlength="25" required>
          </div>

          <div class="form-group">
            <label for="images">Photooooos max(5)</label>
            <input class="form-control" type="file" name="images" multiple>
          </div>

          <% if(!trip.images.includes("dont_remove/addMe.jpg")) { %>
          <% for(var i = 0; i < trip.images.length; i++ ) { %>
          <div class="checkbox">
            <img src="https://radik-trip-pictures.s3.eu-central-1.amazonaws.com/<%= trip.images[i] %>" width="75px">
            <label>
              <input type="checkbox" value="<%= trip.images[i] %>" name="removals[]"><i class="fa fa-trash" aria-hidden="true" style="font-size: 1.5em"></i>

            </label>
          </div>
          <% }} %>

          <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="number" name="price" value="<%= trip.price %>" min="0.01" step="0.01" placeholder="Price" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)">
          </div>

          <div class="form-group">
            <label for="video">Video</label>
            <input id='video' class="form-control" type="text" name="video" value="<%= trip.video %>" placeholder="Link from YouTube">
          </div>

          <label class="control-label" for="description">Description</label>
          <textarea id="example1" name="description" required><%= trip.description %></textarea>

        <br>

          <div>
            <button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-check" aria-hidden="true"></i></button>
          </div>

        </form>
        <a href="/trips/<%= trip._id %>" style="font-size:2em"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
      </div>
  </div>

<% include ../partials/footer %>
