<% include ../partials/header %>

    <div class="">
      <div class="container">
        <h1 class="welcome-text"><i class="fa fa-hashtag" aria-hidden="true"></i>vcera-dnes</h1>
      </div>
    </div>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
      <% trips.forEach(function(trip){ %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail round-corner">
              <a href="/trips/<%= trip._id %>">
                <img class="round-corner" src="https://radik-trip-pictures.s3.eu-central-1.amazonaws.com/<%= trip.images[0]%>">
              </a>
              <div class="caption">
                  <strong><p style="font-weight: 600; color:gray;font-size: 1.5em"><%= trip.name %></p></strong>
                  <strong><span style="font-weight: 600; color:gray;font-size: 1em"><%= moment(trip.created).locale("sk").format("l") %></span></strong>
              </div>
            </div>
          </div>
      <% }); %>
    </div>
</body>

<% include ../partials/footer %>
