<% include ../partials/header %>

  <div class="row">
    <h1 class="welcome-text" style="text-align: center;">New Trip</h1>
      <div class="well-form round-corner">
        <form action="/trips" method="POST" enctype="multipart/form-data">

          <div class="form-group has-feedback has-feedback-right">
            <label class="control-label" for="name">Name</label>
            <input class="form-control clearable" type="text" name="name" placeholder="Name" value="" maxlength="25" required>
          </div>

          <div class="form-group has-feedback has-feedback-right">
            <label class="control-label" for="location">Location</label>
            <input class="form-control clearable" type="text" name="location" placeholder="Where are you?" value="" required id="location" >
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="number" name="price" placeholder="Price" min="0" step="0.01" onkeydown="return FilterInput(event)" onpaste="handlePaste(event)">
          </div>

          <div class="form-group">
            <label for="name">Photooooos max(5)</label>
            <input class="form-control" type="file" name="images" multiple="multiple" required>
          </div>

          <div class="form-group">
            <label for="video">Video</label>
            <input id='video' class="form-control" type="text" name="video" placeholder="Link from YouTube">
          </div>

          <label class="control-label" for="description">Description</label>
          <textarea id="example1" name="description" required></textarea>

          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-check" aria-hidden="true"></i></button>
          </div>

        </form>
        <a href="/trips" style="font-size:2em"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
      </div>
  </div>

<% include ../partials/footer %>
