<% include ../partials/header %>

  <div class="row">
<%# ========================================================================= %>
<%# LEFT SIDE %>
<%# ========================================================================= %>
  <div class="col-md-9">
    <div>
      <div class="well round-corner">
        <h4 = class="pull-right"><% if(trip.price === null){%><%} else {%><%= trip.price %>€<%}%></i></h4>
        <h4 class="admin-text" style='text-align: center'><%= trip.name %></h4>
        <p class="break-word"><%= trip.description %></p>
        <div>
          <% if(currentUser && trip.author.id.equals(currentUser._id) || currentUser && currentUser.admin) { %>
            <a class="btn btn-warning" href="/trips/<%= trip._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <form class="delete-form" action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger" onclick='return confirm("Are You sure?")'><i class="fa fa-times" aria-hidden="true"></i></button>
            </form>
          <% } %>
        </div>
        <div style='float: right'><em>Added By: <strong><a href="/users/<%= trip.author.id %>"><%= trip.author.username %></a></strong> <%= moment(trip.created).locale("sk").format("l") %></em></div>

      </div>
    </div>
    <div class="grid">
      <% if(trip.video) { %>
        <iframe class='round-corner' width='100%' height='310px' src='<%= trip.video %>' frameborder="0" allowfullscreen>
        </iframe>
      <% } %>

      <% for(var i = 0; i < trip.images.length; i++ ) { %>
        <div>
          <a><span>
            <img class="pic round-corner zoom" id="pic" src="https://radik-trip-pictures.s3.eu-central-1.amazonaws.com/<%= trip.images[i] %>">
          </span></a>
        </div>
      <% } %>
    </div>
  </div>
<%# ========================================================================= %>
<%# RIGHT SIDE %>
<%# ========================================================================= %>
  <div class='col-md-3'>
<%# ========================================================================= %>
<%# MAP %>
<%# ========================================================================= %>
    <div id="map" class="round-corner"></div>
    <p style='color: white'> <%= trip.location %></p>
<%# ========================================================================= %>
<%# COMMENTS %>
<%# ========================================================================= %>
    <div style="margin-top: 5%" class="well round-corner">
      <%# NEW COMMENT BUTTON %>
      <div>
        <% if(currentUser || currentUser && currentUser.admin) { %>
          <a class="btn btn-success" href="/trips/<%= trip._id %>/comments/new" style='width: 100%'>New comment <i class="fa fa-comment-o" aria-hidden="true"></i></a>
          <hr>
        <% } %>
      </div>
      <%# SHOW ALL COMMENTS %>
      <% if(trip.comments.length) { %>
        <% trip.comments.forEach(function(comment){ %>
          <!-- ONLY FOR FIRST COMMENT -->
          <% if(comment.created === trip.comments[trip.comments.length -1].created) { %>
            <div class="row">
              <div class="col-md-12">
                <!-- USERNAME + DATE -->
                <div>
                  <strong><i class="fa fa-user" aria-hidden="true"></i> <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></strong></a>
                  <span class="pull-right"><%= moment(comment.created).fromNow() %></span>
                </div>
                <!-- TEXT -->
                <div style='float: left'>
                  <p class="break-word"><%= comment.text %></p>
                </div>
                <!-- EDITS -->
                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.admin) { %>
                  <div style='float: right'>
                    <a class="btn btn-xs btn-warning" href="/trips/<%= trip._id %>/comments/<%= comment._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <form class="delete-form" action="/trips/<%= trip._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-xs btn-danger" onclick='return confirm("Are You sure?")'><i class="fa fa-times" aria-hidden="true"></i></button>
                    </form>
                  </div>
                <% } %>
              </div>
            </div>
          <% } else { %><!-- OTHER COMMENTS -->
            <div class="row">
              <div class="col-md-12">
                <!-- USERNAME + DATE -->
                <div>
                  <strong><i class="fa fa-user" aria-hidden="true"></i> <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></strong></a>
                  <span class="pull-right"><%= moment(comment.created).fromNow() %></span>
                </div>
                <!-- TEXT -->
                <div style='float: left; min-width: 75%'>
                  <p class="break-word"><%= comment.text %></p>
                </div>
                <!-- EDITS -->
                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.admin) { %>
                  <div style='float: right; max-width: 25%'>
                    <a class="btn btn-xs btn-warning" href="/trips/<%= trip._id %>/comments/<%= comment._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <form class="delete-form" action="/trips/<%= trip._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-xs btn-danger" onclick='return confirm("Are You sure?")'><i class="fa fa-times" aria-hidden="true"></i></button>
                    </form>
                  </div>
                <% } %>
              </div>
            </div>
            <hr style='margin: 5px 0 10px 0'>
          <% } %>
        <%  }) %>
      <% } else { %> <!-- NO COMMENT EXIST -->
        <h5>No comments</h5>
      <% } %>
    </div><%# END OF WELL %>
  </div><%# END OF COL-MD-3%>
<%# ========================================================================= %>
<%# MODAL FOR FULL SIZE IMAGES ON CLICK %>
<%# ========================================================================= %>
    <div id="modal01" class="img-background" style="padding-top:0" onclick="this.style.display='none'">
      <div class="img-center">
        <img id="img01" class="img-zoom">
        <p id="caption"></p>
      </div>

    </div>
</div>
<%# ========================================================================= %>
<%# GOOGLE  MAP %>
<%# ========================================================================= %>
  <script>
    function initMap() {
      var lat = <%= trip.lat %>;
      var lng = <%= trip.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: center,
          scrollwheel: true
      });
      var contentString = `
        <strong><%= trip.name %><br />
        <%= trip.location %></strong>
        <p><%= trip.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5i10rET0OA0GW5YBckvexkasCsk-d4Sc&callback=initMap"></script>

<% include ../partials/footer %>
