<% include ../partials/header %>

<h1 class="welcome-text" style="text-align: center">About page</h1>

<div class="row">
<%# ========================================================================= %>
<%# LEFT SIDE %>
<%# ========================================================================= %>
  <div class="col-md-4">
    <div class="well round-corner">
      <p class="admin-text" style="text-align: center">#vcera-dnes</p>

      <p  style="text-align: center">
        <a id="mail" style="text-decoration: none" href="mailto:trip.vcera.dnes@gmail.com">
          <i style="color: gray" class="fa fa-envelope send" aria-hidden="true"></i>
          trip.vcera.dnes@gmail.com
        </a>
      </p>
    </div>
  </div>
</div>

<% include ../partials/footer %>
